<!--<div th:each="message : ${flash.get('SUCCESS')}" class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--    <span th:text="${message}"></span>-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--</div>-->

<!--<div th:each="message : ${flash.get('DANGER')}" class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--    <span th:text="${message}"></span>-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--</div>-->

<!--<div th:each="message : ${flash.get('WARNING')}" class="alert alert-warning alert-dismissible fade show" role="alert">-->
<!--    <span th:text="${message}"></span>-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--</div>-->

<!--<div th:each="message : ${flash.get('INFO')}" class="alert alert-info alert-dismissible fade show" role="alert">-->
<!--    <span th:text="${message}"></span>-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--</div>-->