<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_component/header :: header(~{::title})}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body th:replace="~{layout :: wrapper(~{::bodyContent}, ~{::breadcrumbs}, ~{::header})}">
<h1 th:fragment="header">Create Event</h1>

<nav aria-label="{{ 'component.breadcrumbs.label'|trans }}" th:fragment="breadcrumbs">
    <ol class="breadcrumbs">
        <li class="nav-item">
            <a th:href="@{/static}" title="Home">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/groups/{groupId}/events/new}" title="Create Event">Create Event</a>
        </li>
    </ol>
</nav>

<div th:fragment="bodyContent" class="body">
    <div class="col-md-6">

        <form th:action="@{/events}" method="post">
            <div class="form-group">
                <label for="name">Event Name:</label>
                <input class="form-control" type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input class="form-control" type="date" id="date" name="date" required>
            </div>
            <div class="form-group">
                <label for="group">Select Group:</label>
                <select id="group" class="form-control" name="group.id" required>
                    <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}">Group Name
                    </option>
                </select>
                <div class="form-group">
                    <button class="btn btn-secondary" type="submit">Create Event</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>