<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_component/header :: header(~{::title})}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body th:replace="~{layout :: wrapper(~{::bodyContent}, ~{::breadcrumbs}, ~{::header})}">

<h1 th:fragment="header">Edit Event</h1>

<nav aria-label="{{ 'component.breadcrumbs.label'|trans }}" th:fragment="breadcrumbs">
    <ol class="breadcrumbs">
        <li class="nav-item">
            <a th:href="@{/static}" title="Home">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/groups/{groupId}/events/{eventId}/edit}" title="Edit Event">Edit Event</a>
        </li>
    </ol>
</nav>

<div th:fragment="bodyContent" class="body">
    <form th:action="@{/groups/{groupId}/events/{eventId}/edit}" method="post">
        <div>
            <label for="name">Event Name:</label>
            <input type="text" id="name" name="name" th:value="${event.name}" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" required th:text="${event.description}"></textarea>
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" th:value="${event.date}" required>
        </div>
        <div>
            <button type="submit">Update Event</button>
        </div>
    </form>
</div>

</body>
</html>