<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_component/header :: header(~{::title})}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body th:replace="~{layout :: wrapper(~{::bodyContent}, ~{::breadcrumbs}, ~{::header})}">

<h1 th:fragment="header">Events</h1>

<nav aria-label="{{ 'component.breadcrumbs.label'|trans }}" th:fragment="breadcrumbs">
    <ol class="breadcrumbs">
        <li class="nav-item">
            <a th:href="@{/static}" title="Home">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/events}" title="Events">Events</a>
        </li>
    </ol>
</nav>

<div th:fragment="bodyContent" class="body">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <form th:action="@{/events}" method="get">
                    <label for="group">Select Group:</label>
                    <div class="form-group form-group-default">

                        <select id="group" name="groupId" class="form-select" required>
                            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}">Group
                                Name
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">View Events</button>
                </form>
            </div>
        </div>


        <a th:href="@{/events/new}" title="Create Event" class="btn btn-black">Create Event</a>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="event : ${events}">
                            <td th:text="${event.id}">1</td>
                            <td th:text="${event.name}">Event Name</td>
                            <td th:text="${event.description}">Event Description</td>
                            <td th:text="${event.date}">Event Date</td>
                            <td>
                                <a th:href="@{/events/{eventId}(groupId=${event.group.id}, eventId=${event.id})}">View</a>
                                <a th:href="@{/events/{eventId}/edit(groupId=${event.group.id}, eventId=${event.id})}">Edit</a>
                                <form th:action="@{/events/{eventId}/delete(groupId=${event.group.id}, eventId=${event.id})}"
                                      method="post" style="display:inline;">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>